.image {
	max-width: 300px;
	max-height: 300px;
	margin: 10px;
}

.background {
	background-color: #4682bf !important;
    width: 1000px;
    height: 1200px;
    display:inline-block;
}
.button {
	width: 11rem;
	height: 4rem;
	margin: 12px;
	font-size: 1.5rem !important;
	background-color: #0047ab !important;
	border-color: #0047ab !important;
	border-radius: 8px !important;
}
.img-card{
    max-width: 50rem !important;
	max-height: 90rem !important;

}

.col {
    padding: 0 !important;
}
