.card {
	display: inline-flex !important;
	margin: 10px;
	overflow: hidden;
	border-width: 2px !important;
	width: '33rem';
	height: '40rem';
	border-radius: 10px !important;
	background-color: white;
}

.card:hover {
	transition: 50ms linear;
	transform: scale(1.1);
}

.image {
	width: 20rem;
	height: 24rem;
	background-size: cover;
}
.button {
	width: 11rem;
	height: 4rem;
	margin: 12px;
	font-size: 1.5rem !important;
	background-color: #0047ab !important;
	border-color: #0047ab !important;
	border-radius: 8px !important;
}

.button:hover {
	background-color: #0d4086 !important;
}

.cardProduct {
	margin-bottom: 10px;
	height: 100%;

}

.colProduct {
	margin-bottom: 10px;
}

.productsCard {
	border: none;
}
