.button {
	min-width: 11rem;
	height: 4rem;
	margin: 12px;
	font-size: 1.5rem !important;
	background-color: #0047ab !important;
	border-color: #0047ab !important;
	border-radius: 8px !important;
    font-weight: bold !important;
	
}